/* General */

@font-face {
  font-family: fredoka;
  src: url('./fonts/FredokaOne-Regular.ttf');
}

@font-face {
  font-family: assistant;
  src: url('./fonts/Assistant-VariableFont_wght.ttf');
}

@media (max-width: 610px) {

  .header {
    box-shadow: 0px 5vh 100vh 50vh #ce00e5;
  }

  .br {
    display: block;
  }

  #signInDiv {
    margin-bottom: 50px;
  }

  .content.login {
    min-height: 450px;
  }

  .greeting-text {
    text-align: center;
  }

  .greeting-text>h1 {
    font-size: 2.5rem;
  }
  
  .greeting-text>p {
    font-size: 1.4rem;
  }

  .sidebar-button {
    width: 40px;
  }

  .friends>div>p {
    padding-left: 10px;
    border-bottom: 2px solid rgb(22, 22, 22);
  }

  .current-friend {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(22, 22, 22);
  }

  .current-friend>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
  }

  .sliding-bar-mobile {
    background-color: rgb(8, 8, 8);
    width: 100%;
    height: 85vh;
  }

  .sliding-bar {
    display: none;
  }
  .drop-down-container {
    display: none;
  }

  .header {
    height: 15vh;
  }

  .button_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button_container>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    transition: none;
  }

  .first_layer {
    border: none;
    height: 50px;
    background: none;
    background-color: rgb(8, 8, 8);
  }

  .second_layer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }


  .fading_line {
    display: none;
  }

  .sidebar p {
    font-size: 25px;
  }

  .sidebar {
    display: none;
    position: absolute;
    width: 100%;
    min-height: 85vh;
    background-color: rgb(8, 8, 8);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content.home {
    height: 85vh;
    overflow-y: scroll;
  }
  
  .chat-window-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .chat-window {
    display: none;
    grid-template-rows: 42px auto max-content;
    width: 100%;
    height: 85vh;
    background-color: rgb(8, 8, 8);
    align-self: center;
    overflow: hidden;
  }

  .title>h1 {
    display: none;
  }

  .slide-box {
    display: none;
  }

  .friends>div {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 611px) and (max-width: 1049px) {

  .mobile {
    display: none;
  }

  .header {
    box-shadow: 0px 50px 200px 100px #ce00e5;
  }

  .br {
    display: none;
  }

  #signInDiv {
    padding-left: 10vw;
  }

  .greeting-text>h1 {
    font-size: 2.5rem;
    padding-left: 30px;
  }
  
  .greeting-text>p {
    font-size: 1.6rem;
  }

  .greeting-text {
    margin: 10vh 0vw 0px 10vw;
  }

  .return-button {
    display: none;
  }

  .current-friend>div {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(22, 22, 22);
    height: 42px;
  }

  .sidebar-button {
    display: none;
  }

  .sliding-bar-mobile {
    display: none;
  }

  .header {
    height: 65px;
  }
  .button_container {
    background-color: rgb(8, 8, 8);
    width: 190px;
    text-align: center;
  }

  .button_container>div {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: inherit;
    z-index: 1;
  }

  .first_layer {
    border: none;
    height: 65px;
    background: none;
    background-color: rgb(8, 8, 8);
  }

  .second_layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65px;
  }

  .fading_line {
    display: none;
  }

  .sidebar p {
    font-size: 25px;
  }

  .sidebar {
    display: flex;
    width: 100%;
    background-color: rgb(8, 8, 8);
    justify-content: space-evenly;
  }

  .content.home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chat-window-container {
    display: flex;
    justify-content: center;
    width: 600px;
    flex: 1 0 auto;
  }

  .chat-window {
    display: grid;
    grid-template-rows: 42px auto max-content;
    width: 400px;
    height: 70vh;
    background-color: rgb(8, 8, 8);
    border-radius: 0px 30px 30px 0px;
    border: 2px solid rgb(206, 0, 229);
    border-left: none;
    grid-column: 2 / 3;
    align-self: center;
    overflow: hidden;
  }

  .title>h1 {
    display: block;
  }

  .sliding-bar {
    width: 40px;
    height: 70vh;
    grid-column: 1 / 2;
    background-color: rgb(8, 8, 8);
    border-radius: 30px 0px 0px 30px;
    border-right: 2px solid rgb(22, 22, 22);
    outline: 2px solid rgb(206, 0, 229);
    overflow: hidden;
    align-self: center;
    justify-self: flex-end;
    transition: width 0.5s;
  }

  .friends>div {
    width: 200px;
    opacity: 0;
    transition: opacity 0.5s;
  }
}

@media (min-width: 1050px) {

  .mobile {
    display: none;
  }

  .header {
    box-shadow: 0px 50px 200px 100px #ce00e5;
  }

  .br {
    display: none;
  }

  .greeting-text>h1 {
    font-size: 3rem;
    padding-left: 30px;
  }
  
  .greeting-text>p {
    font-size: 1.6rem;
  }

  #signInDiv {
    padding-left: 10vw;
  }

  .greeting-text {
    margin: 100px 0vw 0px 10vw;
  }

  .return-button {
    display: none;
  }

  .current-friend>div {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(22, 22, 22);
    height: 42px;
  }

  .sidebar-button {
    display: none;
  }

  .sliding-bar-mobile {
    display: none;
  }

  .button_container {
    width: 100%;
  }

  .header {
    height: 65px;
  }

  .first_layer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(90deg, rgb(8, 8, 8), rgb(206, 0, 229) 50%, rgb(8, 8, 8));
    border: none;
    height: 65px;
  }

  .second_layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(8, 8, 8);
    height: 90%;
  }

  .fading_line {
    background-color: rgb(8, 8, 8);
    height: 10%;
    transition: opacity 0.3s;
  }

  .first_layer:hover {
    cursor: pointer;
  }

  .first_layer:hover>.fading_line {
    opacity: 0;
  }

  .sidebar p {
    font-size: 25px;
  }

  .sidebar {
    width: 300px;
    grid-column: 1 / 2;
    padding-top: 20px;
    background-color: rgb(8, 8, 8);
  }

  .content.home {
    display: grid;
    grid-template-columns: 1fr minmax(700px, 1fr) 1fr;
  }
  
  .chat-window-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-column: 2 / 3;
  }

  .chat-window {
    display: grid;
    grid-template-rows: 42px auto max-content;
    width: 100%;
    height: 70vh;
    background-color: rgb(8, 8, 8);
    border-radius: 0px 30px 30px 0px;
    border: 2px solid rgb(206, 0, 229);
    border-left: none;
    grid-column: 2 / 3;
    align-self: center;
    overflow: hidden;
  }

  .sliding-bar {
    width: 40px;
    height: 70vh;
    grid-column: 1 / 2;
    background-color: rgb(8, 8, 8);
    border-radius: 30px 0px 0px 30px;
    border-right: 2px solid rgb(22, 22, 22);
    outline: 2px solid rgb(206, 0, 229);
    overflow: hidden;
    align-self: center;
    justify-self: flex-end;
    transition: width 0.5s;
  }

  .friends>div {
    width: 200px;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
}

button {
  background: none;
  border: none;
}

* {
  margin: 0px;
  padding: 0px;
  color: #ce00e5;
}

h1, h3 {
  cursor: default;
}

h1, h3, p {
  font-family: assistant;
}

h1::selection, h3::selection, img::selection {
  background: none;
}

img {
  width: 100%;
  height: 100%;
}

#g_a11y_announcement {
  display: none;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(16, 16, 16);
}

.content {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  background-color: rgb(16, 16, 16);
}

.header>div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.title>h1 {
  font-family: fredoka;
  font-weight: 1;
  font-size: 50px;
}

.cat-img {
  height: 40px;
}

.cat-img>img {
  height: 100%;
}

.hidden {
  display: none;
}

/* Login Component */

.greeting-text {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.greeting-text>h1, .greeting-text>p {
  color: rgb(10, 10, 10);
}

#signInDiv {
  margin-top: 50px;
}

/* Home Component */

.drop-down-container {
  width: 150px;
}

.drop-down-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.user.drop-down-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  border: none;
  border-radius: 50px;
  background-color: rgb(22, 22, 22);
  cursor: pointer;
}

.user.drop-down-button:hover {
  border: 2px solid rgb(206, 0, 229);
}

.user.drop-down-button>img {
  border-radius: 50px;
}

.user.drop-down-menu{
  position: absolute;
  top: 70px;
  width: inherit;
  height: 250px;
  opacity: 0%;
  transform: translateX(30px) translateY(-120px) scale(0.2);
  transition: all 0.2s;
}

.user.drop-down-menu>div {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(8, 8, 8);
  border-radius: 30px;
  border: 2px solid rgb(206, 0, 229);
}

.user.drop-down-menu>div>button {
  background-color: rgb(8, 8, 8);
  border-radius: 10px;
  border: 2px solid rgb(206, 0, 229);
  width: 65px;
  height: 30px;
  cursor: pointer;
}

.user.drop-down-menu>div>img {
  width: 80px;
  height: 80px;
}

.header.logged-in>div {
  justify-content: space-between;
}

.slide-box {
  height: 42px;
  border-bottom: 2px solid rgb(22, 22, 22);
}

.slide-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 42px;
  background-color: rgb(22, 22, 22);
  border: none;
  cursor: pointer;
}

.slide-button>div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 30px 0px 0px 0px;
}

.slide-button>div>img {
  transition: all 0.5s;
}

.message-out {
  overflow-y: scroll;
  padding: 10px;
  grid-row: 2 / 3;
}

.message-out>div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.top.sent {
  justify-content: flex-end;
}

.top.recieved {
  justify-self: flex-start;
}

.message {
  max-width: 60%;
  background-color: rgb(22, 22, 22);
  border-radius: 20px;
  border: 2px solid #ce00e5;
  overflow-wrap: break-word;
}

.message>p {
  padding: 10px;
  font-size: 1rem;
}

.message.like {
  height: 25px;
  width: 25px;
  padding: 10px;
}

.time {
  opacity: 0;
  text-align: center;
}

.message-in {
  display: flex;
  height: 69px;
  align-items: center;
  border-top: 2px solid rgb(22, 22, 22);
  grid-row: 3 / 4;
}

.message-text-container {
  width: 85%;
  height: 100%;
  border-right: 2px solid rgb(22, 22, 22);
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-text-container>textarea {
  height: 19px;
  border: none;
  resize: none;
  width: 85%;
  border-radius: 20px;
  font-size: 1rem;
  background-color: rgb(28, 28, 28);
  border: 5px solid rgb(28, 28, 28);
  padding: 0px 5px;
}

.message-text-container>textarea:focus {
  outline: none;
}

.message-button-container {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-button-container>button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: none;
  border: none;
  padding: 5px;
}

.purple {
  filter: invert(19%) sepia(67%) saturate(4547%) hue-rotate(286deg) brightness(90%) contrast(132%);
}

.message-button-container>button:hover {
  cursor: pointer;
  background-color: rgb(42, 42, 42);
}

.search-for-friends {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

.plus {
  font-size: 1.4rem;
}

.user_div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

.img-holder {
  border-radius: 50%;
  overflow: hidden;
}

.chat-window-container .img-holder {
  width: 30px;
  height: 30px;
}

.sidebar .img-holder {
  width: 50px;
  height: 50px;
}

img {
  width: 100%;
}

.friends .user_div {
  width: 100%;
  height: 100%;
}

.friends .user_div:hover {
  background-color: rgb(22, 22, 22);
}

.friends>div>div {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 2px solid rgb(22, 22, 22);
  width: 100%;
}